<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhi_tech.magiceyessdk">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name=".MagicEyesService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>
    </application>

</manifest>